<!-- login.page.html -->

<ion-content class="ion-padding">
  <form (ngSubmit)="loginUser()" class="login-form" novalidate>
    <div class="form-group">
      <label for="mail">Nombre de Usuario</label>
      <input type="text" class="form-control" id="mail" [(ngModel)]="userDetails.mail" name="mail" required>
    </div>

    <div class="form-group">
      <label for="password">Contraseña</label>
      <input type="password" class="form-control" id="password" [(ngModel)]="userDetails.password" name="password" required>
    </div>

    <ion-button type="submit" (click)="setOpen(false)"> Login</ion-button>

    <ion-alert
  [isOpen]="isAlertOpen"
  header="Por favor complete los campos requeridos."
  subHeader=""
  message="Revise que todos los campos estén completos."
  [buttons]="alertButtons"
  (didDismiss)="setOpen(false)"
></ion-alert>

  </form>
</ion-content>
