ion-content {
    --ion-background-color: #E5E1DA;
  }
  
  ion-tab-bar {
    background-color: #92C7CF;
  }
  #container {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  
  #container strong {
    font-size: 20px;
    line-height: 26px;
  }
  
  #container p {
    font-size: 16px;
    line-height: 22px;
    color: #8c8c8c;
    margin: 0;
  }
  
  #container a {
    text-decoration: none;
  }
  
  .force-show {
    display: block !important;
  }

  .texto-negro {
    color: rgba(72, 72, 72);
    text-align: center;
  }

  .texto-sinpaquetes{
    color: rgba(72, 72, 72);
    text-align: center;
    margin-top: 76%;

  }

  .text-subtitle{
    color: rgba(72, 72, 72);
  }
  
  ion-card {
    --background: #E5E1DA;
    --border-radius: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  ion-card-header {

    font-size: 24px;
    --color: #2d3e3b;
  }
  
  