<ion-header [translucent]="true">
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-label>Bienvenido {{ userData?.name }}</ion-label>
    </ion-card-header>
    <ion-card-content class="texto-negro">
      <ion-list>
        <ion-item>
          <ion-thumbnail slot="start">
            <ion-icon name="person"></ion-icon>
          </ion-thumbnail>
          <ion-label style="padding-bottom: 5px;">Nombre:<br/><br/>{{ userData?.name }}</ion-label>
        </ion-item>
        <ion-item>
          <ion-thumbnail slot="start">
            <ion-icon name="person"></ion-icon>
          </ion-thumbnail>
          <ion-label>Apellido:<br/><br/>{{ userData?.last_name }}</ion-label>
        </ion-item>
        <ion-item>
          <ion-thumbnail slot="start">
            <ion-icon name="barcode"></ion-icon>
          </ion-thumbnail>
          <ion-label>Código:<br/><br/>{{ userData?.code }}</ion-label>
        </ion-item>
        <ion-item>
          <ion-thumbnail slot="start">
            <ion-icon name="mail"></ion-icon>
          </ion-thumbnail>
          <ion-label>Email: <br/><br/>{{ userData?.mail }}</ion-label>
        </ion-item>
        <ion-item>
          <ion-thumbnail slot="start">
            <ion-icon name="call"></ion-icon>
          </ion-thumbnail>
          <ion-label>Teléfono:<br/><br/>{{ userData?.phone_number }}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
 
  <!-- -->
  <ion-tabs>
    <ion-button (click)="setOpen(true)" id="open-action-sheet" >Opciones avanzadas</ion-button>
    <ion-action-sheet class="texto-negro"
    [isOpen]="isActionSheetOpen"
    header="Opciones"
    [buttons]="actionSheetButtons"
    (didDismiss)="setOpen(false)"
  ></ion-action-sheet>

    <ion-tab-bar  style="background-color: #92C7CF; border: #92C7CF;" slot="bottom">
      <ion-tab-button style="background-color: #92C7CF;" routerLink="/home">
        <ion-icon style="color: rgb(52, 52, 52); border-color: #484848; border: 1px;" name="home"></ion-icon>
        Home
      </ion-tab-button>
      <ion-tab-button style="background-color: #92C7CF;" routerLink="/packages">
        <ion-icon style="color: rgb(52, 52, 52); border-color: #484848; border: 1px;" name="cube"></ion-icon>
        Packages
      </ion-tab-button>
      <ion-tab-button style="background-color: #92C7CF;" routerLink="/profile">
        <ion-icon style="color: rgb(52, 52, 52); border-color: #484848; border: 1px;" name="person"></ion-icon>
        <ion-label>Profile</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
