ion-content {
  --ion-background-color: #E5E1DA;
}

ion-tab-bar {
  background-color: #92C7CF;
}

#container {
  text-align: center;
  padding: 20px;
}

#container img {
  max-width: 100%;
  margin-bottom: 20px;
}

#container h1 {
  font-size: 24px;
  color: #2c524c;
  margin-bottom: 10px;
}

#container p {
  font-size: 16px;
  color: #8c8c8c;
  line-height: 1.5;
}
