/* register.page.scss */

ion-content {
  --background: linear-gradient(150deg, #92C7CF, #E5E1DA);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; 
}

form {
  max-width: 350px;
  width: 100%;
}

.form-group {
  margin-bottom: 0px; 


}

.form-control {
  border: 1px solid #E5E1DA; 
  border-radius: 30px;
  padding: 25px;
  width: 100%;
}

.btn-primary {
  background-color: #E5E1DA; /* Cambia el color de fondo del botón */
  color: #E5E1DA;
  border: none;
  border-radius: 5px;
  padding: 12px 24px;
  font-size: 16px;
  transition: background-color 0.3s;
}

.btn-primary:hover {
  background-color: #45a049;
}
