<!-- register.page.html -->

<ion-content class="ion-padding">
  <form (ngSubmit)="registerUser()" novalidate>
    <div class="mb-3">
      <label for="name" class="form-label">Nombre</label>
      <input type="text" class="form-control" id="name" [(ngModel)]="userDetails.name" name="name" required>
    </div>

    <div class="mb-3">
      <label for="lastName" class="form-label">Apellido</label>
      <input type="text" class="form-control" id="last_name" [(ngModel)]="userDetails.last_name" name="last_name" required>
    </div>

    <div class="mb-3">
      <label for="mail" class="form-label">Correo Electrónico</label>
      <input type="email" class="form-control" id="mail" [(ngModel)]="userDetails.mail" name="mail" required>
    </div>

    <div class="mb-3">
      <label for="password" class="form-label">Contraseña</label>
      <input type="password" class="form-control" id="password" [(ngModel)]="userDetails.password" name="password" required>
    </div>

    <div class="mb-3">
      <label for="phoneNumber" class="form-label">Número de Teléfono</label>
      <input type="tel" class="form-control" id="phone_number" [(ngModel)]="userDetails.phone_number" name="phone_number" required>
    </div>
    
    <button type="submit" class="btn btn-primary">Registrarse</button>
  </form>
</ion-content>
